.hot-list {
    .banner {
        width: 100%;
        background-color:  #7caeff;
        color: #fff;
        font-size: 15px;
        padding: 30px 0 30px 20px;
        .title-bg{
            width: 150px;
            height: 67px;
            background: url("https://s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880") no-repeat;
            background-position: -15px -30px;
            background-size: 166px 97px;
        }
    }
}