/*
 * @Author: wuhan  [https://github.com/Mohannnnn] 
 * @Date: 2018-12-29 14:10:20 
 * @Last Modified by: wuhan
 * @Last Modified time: 2019-01-15 18:18:27
 */
@charset "utf-8";
@media screen and (min-width: 750px) {
    html,body{
        width: 750px;
        margin: 0 auto;
    }
}
.app {
    background: #fdfdfd;
}